#certificate {
  width: 1080px; 
  height: 1477px;
  /* background-size: 1477px, 1080px; */
  background-repeat: no-repeat;
  background-image: url("../images/成绩证书.png");
}

div{
  left: 390px;
  position: absolute;
  font-size: 45px;
  font-family: "Arial Regular";
}